<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

<div class="container-fluid" style="padding: 0;">
    <div class="about-heading">Covid-19 Policy and Procedure</div>
</div>
<section class="container-fluid" id="cov-padd">
    <div id="about-section-main">
        <div style="display: flex;">
            <div class="para-padding">
                <p>The safety of our staff and visitors is important to us. Please view our policies and procedures that
                    we have implemented to help reduce workplace exposures to COVID-19.</p>
                <h2>Policy</h2>
                <p>All employees, visitors and customers are required to wear a mask or face covering upon entering and
                    remaining within SalDan Offices, and on job sites with public access. The mask or face covering must
                    cover the nose, mouth and chin.</p>
                    <br>
                   <p> A. The following persons are exempted from the requirement to wear a mask or face covering and will
                    not be required to provide proof of such exemption:
                </p>
                <br>
                <p>i. Children under two years of age, or children under the age of five years either chronologically or
                    developmentally who refuse to wear a mask or face covering and cannot be persuaded to do so by their
                    caregiver;
                    <br>

                    ii. Persons with medical conditions who cannot safely wear a mask or face covering (e.g. due to
                    breathing difficulties, cognitive difficulties, hearing or communication difficulties);
                    <br>
                    iii. Persons who cannot wear or remove a mask or face covering without assistance, including people
                    who are accommodated under the Accessibility for Ontarians with Disabilities Act (AODA) or are
                    protected under the Ontario Human Rights Code, R.S.O. 1990, c.H. 19 as amended;
                    <br>
                    iv. Employees who are in an area of the premise that is not designated for public access, or who are
                    within or behind a physical barrier (e.g. Plexiglass).
                </p>
                <br>
                <p>B. Temporary removal of the mask or face covering is permitted where necessary for the following
                    purposes:</p>
                    <br>
                <p>i. Actively engaging in an athletic or fitness activity including water-based activities;
                    <br>
                    ii. Consuming food or drink;
                    <br>
                    iii. For any emergency or medical purpose.
                </p>
                <h2>Procedure</h2>
                <p>
                    • Maintain social distancing of 2 meters (6 feet) or more
                    <br>• Site planning and scheduling to facilitate appropriate physical distancing between workers
                    during any particular shift
                    <br>• Complete daily “COVID-19 Questionnaire” forms provided on every jobsite
                    <br>• Wash hands often, or use alcohol-based sanitizer
                    <br>• Wear gloves where possible
                    <br>• Wipe down / disinfect surfaces regularly
                    <br>• No carpooling as much as possible. If necessary, a mask must be worn by all in the vehicle.
                    <br>• If you or a family member exhibit any symptoms, or have increased risk of illness you should
                    stay home and self-isolate
                    <br>• If you develop symptoms of COVID-19 (novel corona virus), call Telehealth Ontario for medical
                    advice at #1-866-797-000 or Algoma Public Health at #1-705-759-5404 or TF #1-866-892-0172 ext. 5404.
                    <br>• If you develop any symptoms of COVID-19, immediately inform the President, Sam Biasucci.
                </p>
                <h2>Training</h2>
                <p>Persons entering or remaining without a mask or face covering will be given a verbal reminder of the
                    policy’s masking requirement. Employees will be trained on the policy, including where and how to
                    properly wear a mask or face covering,
                    https://www.sootoday.com/local-news/village-video-wearing-face-masks-on-your-neck-and-other-ppe-donts-2375092,
                    and how to help and respond to customers who do not have a mask or face covering.</p>
                <h2>Communication</h2>
                <p>This policy will be implemented and enforced in “good faith” to educate people on masks and face
                    coverings and promote their use in enclosed public spaces. Signs about the requirement to wear masks
                    or face coverings shall be posted at all public entrances. This policy is reviewed upon hire,
                    distributed to all current employees, and regularly at Safety Talks. It is posted clearly on all job
                    sites bulletin boards. A copy of this policy will be made available on request to a public health
                    inspector or other person authorized to enforce the EMCPA.</p>
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>