.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
  
    .logo img {
      width: 50px;
      height: auto;
    }
  
    .dropdowns {
      display: flex;
      gap: 10px;
  
      .dropdown {
        position: relative;
        width: 200px; // Adjust as needed
        .dropdown-button {
          background-color: transparent;
          border: none;
          color: white;
          cursor: pointer;
  
          &:hover {
            text-decoration: underline;
          }
        }
  
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
  
          a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
  
            &:hover {
              background-color: #ddd;
            }
          }
        }

        mat-form-field {
            width: 100%;
        }
  
        &:hover .dropdown-content {
          display: block;
        }
      }
    }
  }
  