section{
    background-color: black;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

h2{
    text-align: center;
}

.map-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
}

.map-column{
    margin: 2em;
    max-width: 33%;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        max-width: 100%;
    }
}

.para-style > p{
    text-align: center;
    padding: 0.5em 0em;
}


.contact-section {
    display: flex;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
  }

  .contact-form {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
  }

  form > div{
    padding: 0.2em;
  }

  .contact-content {
    flex: 1;
    padding: 20px;
  }

  .contact-content h1 {
    margin-top: 0;
  }

  .contact-content p {
    margin-bottom: 20px;
  }

  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .contact-form .half-width {
    display: inline-block;
    width: calc(50% - 5px);
  }

  .contact-form .half-width:first-child {
    margin-right: 10px;
  }

  .contact-form button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }