<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

<section class="container-fluid">
    <div class="about-heading">Company Profile</div>
</section>
<section class="container-fluid">
    <div id="about-section-main">
        <div style="display: flex;">
            <div class="para-padding">
                <p>SalDan Developments Ltd. is a residential construction and development company with locations in
                    Sault Ste. Marie, Sudbury and the Greater Toronto Area.</p>
                <p>Incorporated in 1981 by President and sole owner of the company, Sam Biasucci, SalDan Developments
                    Limited has been building quality homes at affordable prices for nearly 40 years. Over time the
                    company specialized in residential affordability and housing innovation. This has made SalDan one of
                    the largest residential contractors in Northern Ontario with stronghold in Sault Ste. Marie by
                    building a record 152 homes in 1989 and 215 multiple and single residential homes in 1992.</p>
                <p>SalDan has built in excess of 6000 single-family homes from Sault Ste. Marie to the Greater Toronto
                    Area over the span of over 40 years to date, and developed multiple high class Subdivisions. In
                    addition, SalDan has built a number of Long Term Care and Retirement facilities in these regions. In
                    2003, SalDan was rewarded with the Northern Ontario “Builder of the Year” award in the Large Volume
                    Category, and a finalist in 2018 in the “Medium Volume Builder Category”.</p>
                <p>With a change in the economy, management redirected some of its attention to the broader market of
                    multiple family homes, as well as establishing ourselves as one of the largest residential land
                    developers in Sault Ste. Marie and Sudbury.</p>
            </div>
        </div>
        <div class="para-padding about-image" style="display: flex;flex-direction: column;">
            <p>SalDan has established and is currently running a construction office at 112 Sunrise Ridge Drive in
                Sudbury, Ontario. SalDan provides substantial change to the construction methods in Sudbury by being the
                exclusive builder to provide fully poured reinforced concrete foundations, as opposed to concrete
                blocks..</p>
            <p>SalDan’s Toronto office, located at 3 Navy Wharf Court in downtown Toronto, provides us connections to
                some of the most advanced and diversified construction knowledge in the country. Having built and
                renovated homes over the past 20 years in the Greater Toronto Area in many of the city’s sought after
                neighborhoods, SalDan has also made a name for itself as a quality builder in the Toronto market.</p>
            <p style="margin:1em 1em 1em 0; font-size: 18px; font-weight: 700;">Our Goal</p>
            <p>Our goal for the next 40 years remains that of continuing construction and design innovation in order to
                keep our homes solid, modern and affordable to allow as many Canadian families as possible to fair
                opportunity at attaining the Canadian dream of home ownership. We guarantee it!</p>
        </div>

    </div>
</section>
<app-footer></app-footer>