<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

<section class="container-fluid">
    <div class="about-heading">Company Profile</div>
</section>
<section class="container-fluid">
    <div class="resource-flex" style="padding: 2em; display: flex;flex-wrap: wrap;">
        <div style="width:33%;padding:2em">
            <h2>New Home Advantages</h2>
            <p>One of the first decisions home buyers are faced with is whether to purchase a new or used home. Although
                there are many benefits in</p>
            <a style="color: brown;" href="#">Read More >></a>
        </div>
        <div style="width:33%;padding:2em">
            <h2>Warranty Information</h2>
            <p>The purchase of a new SalDan home comes with the additional benefit of a lifetime warranty on the
                foundation, as well as a 7 year</p>
            <a style="color: brown;" href="#">Read More >></a>
        </div>
        <div style="width:33%;padding:2em">
            <h2>Home Care Guide</h2>
            <p>At SalDan Developments, we won’t leave you in the dark on how to maintain your new home! Upon closing, we
                will provide you with a</p>
            <a style="color: brown;" href="#">Read More >></a>
        </div>
        <div style="width:33%;padding:2em">
            <h2>Financing</h2>
            <p>How much do you need to earn to afford a 1,500 square foot home? Check out the map and graphs below by
                HelloSafe Canada to</p>
            <a style="color: brown;" href="#">Read More >></a>
        </div>
        <div style="width:33%;padding:2em">
            <h2>Design Gallery</h2>
            <p>At SalDan Developments we understand that building your own custom dream home is as fun as it is
                rewarding! Come and visit our design gallery</p>
            <a style="color: brown;" href="#">Read More >></a>
        </div>
    </div>
</section>